/*reset*/
a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, 
fieldset, figcaption, figure, form, footer, 
header, hgroup, h1, h2, h3, h4, h5, h6, html, 
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, 
s, samp, section, small, span, strike, strong, sub, summary, sup, 
tt, table, tbody, textarea, tfoot, thead, time, tr, th, td,
u, ul, var, video  { 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	white-space: normal;
	text-align: left; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent; 
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section { 
	display: block; 
}
								  
ol, ul { 
	list-style: none; 
}

blockquote, q { 
	quotes: none; 
}

:focus {
	outline: 0; 
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/*media-queries*/
@media
only screen and (min-device-width: 320px) and (max-device-width: 480px),
only screen and (min-width: 320px) and (max-width: 480px) {
	.container						{ width: 95%; }
}
@media 
only screen and (min-width: 321px) {
	.container						{ width: 95%; }
}
@media 
only screen and (max-width: 320px) {
	.container						{ width: 95%; }
}
@media 
only screen and (min-device-width: 768px) and (max-device-width: 1024px),
only screen and (min-width: 768px) and (max-width: 1024px) {
	.container						{ width: 95%; }
}
@media 
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.container						{ width: 95%; }	
}
@media 
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.container						{ width: 95%; }
}
@media 
only screen and (min-width: 1024px) {
	.container						{ max-width: 1000px; }	
}

@media 
only screen and (min-width: 1224px) {
	.container						{ max-width: 1200px; }
}
@media 
only screen and (min-width : 1824px) {
	.container						{ max-width: 1800px; }
}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}	
/* CLEARFIX HACK */
.row,
.clr,
.group							{ zoom: 1; } /* IE6 */
*:first-child+html .row,
*:first-child+html .clr,
*:first-child+html .group		{ zoom: 1; } /* IE7 */
/* 
	24 COLUMN - RESPONSIVE GRID SYSTEM
	DEVELOPED BY DENIS LEBLANC
	URL - http://responsive.gs
	LICENSED UNDER GPL & MIT
*/

/* MAIN CONTAINER */
.container						{ margin: 0 auto; }

/* SELF CLEARING FLOATS - CLEARFIX METHOD
----------------------------------------------------------------------------------------------------*/
.row:after,
.clr:after,
.group:after	 				{ content: ""; 
								  display: block; 
								  height: 0; 
								  clear: both; 
  								  visibility: hidden; }

/* DEFAULT ROW STYLES */
.row							{ margin-bottom: 20px; } /* set according to preference*/
								  
/* DEFAULT COLUMN STYLES */
.col 							{ display: block;
								  float:left;
								  margin-left: 2%; }

/* RESET MARGINS */
.col:first-child 				{ margin-left: 0; } /* all browsers except IE6 and lower */

/* COLUMN WIDTHS*/
.span1 						{ width: 2.25%; }
.span2 						{ width: 6.5%; }
.span3 						{ width: 10.75%; }
.span4 						{ width: 15.0%; }
.span5 						{ width: 19.25%; }
.span6 						{ width: 23.5%; }
.span7 						{ width: 27.75%; }
.span8 						{ width: 32.0%; }
.span9 						{ width: 36.25%; }
.span10 					{ width: 40.5%; }
.span11 					{ width: 44.75%; }
.span12 					{ width: 49.0%; }
.span13 					{ width: 53.25%; }
.span14 					{ width: 57.5%; }
.span15 					{ width: 61.75%; }
.span16 					{ width: 66.0%; }
.span17 					{ width: 70.25%; }
.span18 					{ width: 74.5%; }
.span19 					{ width: 78.75%; }
.span20 					{ width: 83.0%; }
.span21 					{ width: 87.25%; }
.span22 					{ width: 91.5%; }
.span23 					{ width: 95.75%; }
.span24 					{ width: 100%; }